In [1]:
# from __future__ import print_function
import pandas as pd

Document 1

In [2]:
term1 = pd.Series(['this', 'is', 'a', 'sample'])
term_count1 = pd.Series([1,1,2,1])
d1 = pd.DataFrame({ 'Term': term1, 'Term Count': term_count1 })

d1

     Term  Term Count
0    this           1
1      is           1
2       a           2
3  sample           1

Document 2

In [3]:
term2 = pd.Series(['this', 'is', 'another', 'example'])
term_count2 = pd.Series([1,1,2,3])
d2 = pd.DataFrame({ 'Term': term2, 'Term Count': term_count2 })

d2

      Term  Term Count
0     this           1
1       is           1
2  another           2
3  example           3

TF-IDF Calculation

In [9]:
import math

def tf(w,d):
  idx = d['Term'].tolist().index(w)
  term_count = d['Term Count'][idx]

  # Get the count of the most comment term in the document
  max = d['Term Count'].max()

  return term_count / max

def idf(w,d):
  total_doc = 2
  if ((d1["Term"] == w).any() and (d2["Term"] == w).any()):
    idf = math.log10(total_doc/2)
  else:
    idf = math.log10(total_doc/1)
  return idf

def tfidf(w,d):
  TF = tf(w,d)
  IDF = idf(w,d)
  return TF*IDF

# Command to get individual TF-IDF
# tfidf('sample', d1)

# Document 1
d1_words = pd.Series(['this', 'is', 'a', 'sample'])
d1_tfidf_indiv = pd.Series([tfidf('this', d1),tfidf('is', d1),tfidf('a', d1),tfidf('sample', d1)])
# Document 2
d2_words = pd.Series(['this', 'is', 'another', 'example'])
d2_tfidf_indiv = pd.Series([tfidf('this', d2),tfidf('is', d2),tfidf('another', d2),tfidf('example', d2)])

TFIDF = pd.DataFrame({ 'Document 1 Terms': d1_words, 'Document 1 TF-IDF': d1_tfidf_indiv, 'Document 2 Terms': d2_words, 'Document 2 TF-IDF': d2_tfidf_indiv })

TFIDF

  Document 1 Terms  Document 1 TF-IDF Document 2 Terms  Document 2 TF-IDF
0             this           0.000000             this           0.000000
1               is           0.000000               is           0.000000
2                a           0.301030          another           0.200687
3           sample           0.150515          example           0.301030